<div class="exp-container">
  <div class="exp-item">
    <h5>Work Experience</h5>
    <p>
      <strong>Data Engineer</strong><i> - Ashton Data LLC </i>
      Updating, Creating datas and Resolving errors throughout websites.
    </p>
    <p>
      <strong>Website Developer</strong><i> - Self Employed </i>
      Developing multiple website/web applications for clients in different Online Job websites<br>
      <strong>Technologies</strong> - HTML5, CSS3, Javascript, JQuery, MySQL and PHP.
    </p>
    <p>
      <strong>Mobile Application Developer</strong><i> - Self Employed </i>
      Creating multiple Mobile applications using the current technologies for clients with different business
      scope.<br>
      <strong>Technologies</strong> - Ionic, Angular, Typescript, Firebase.
    </p>
  </div>
  <div class="exp-item">
    <h5>Education</h5>
    <p>
      <strong>Gordon College</strong> Bachelor of Science in Computer Science
    </p>
    <p>
      <strong>Asian Institute of Computer Studies</strong> Associate in Computer Studies
    </p>
    <p>
      <strong>Consistently commended</strong> by professors and internship supervisorfor programming abilities, grasp of
      multiple
      technologies and attention to detail.
    </p>
    <p>
      <strong>Course Highlights</strong> Enterprise Application Development, Software Engineering, Website Development,
      Object Oriented Programming, Database Management, Web Design and Computer Architecture.
    </p>
  </div>
</div>
<hr>
